/* REFERENSI: 
- https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/master/qdarkstyle/dark/darkstyle.qss 
- https://doc.qt.io/qt-6/stylesheet-reference.html
*/

 #frame_filter{
    border: none;
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
    background-color: var(--background);
}
#container{
    background: var(--background);
}

/*
============ MENUBAR =============

*/
QMenuBar {
    background-color: var(--background); 
    color: var(--primary-foreground);    
    spacing: 1px;         
    padding: 5px 0px;
}

QMenuBar::item {
    background: transparent;     
    padding: 5px 10px; 
}

QMenuBar::item:selected {       
    background: var(--accent);
    border-radius: 5px;
}

QMenuBar::item:pressed {    
    background: var(--primary);
}

QMenuBar QMenu::item{
    background: var(--primary);
}

QMenuBar QMenu::item:disabled{
    color:var(--muted-foreground);
    background: var(--muted);
}



/*  
=========================================
                TAB WIDGET
=========================================
*/
QTabWidget::tab-bar{
    left: 50px;
}

/* QTabWidget>QWidget{
    border-top: 1px solid var(--border);
} */

/* di bawah TabBar */
QTabWidget::pane {
		background-color: var(--secondary-background);
        padding: 5px;
        margin: 0px 10px 10px;
        border-radius: 0px; 
}



/*  
=========================================
                TAB BAR 
=========================================
*/

QTabBar::tab {
    padding: 3px 10px;
    margin: 0px 0px 0px 0px;
	color:var(--primary);
  	background: var(--destructive);
    border-left: 1px solid var(--border);
}

QTabBar::tab:selected {
    color: var(--primary-foreground);
    background: var(--secondary-background);
    border-top: 2px solid var(--primary);
    border-bottom:0px solid transparent;
}

QTabBar::tab:!selected {
    background-color: var(--background);
    color: var(--secondary-foreground);
}


QTabBar::tab:!selected:hover {
    background: var(--sidebar);
    color: var(--secondary-foreground);
}
 QTabBar::tab:last{
    border-right: 1px solid var(--border);
 }

/*TOMBOL X pada Tab */
QTabBar::close-button{
    padding: 2px;
    border:0px solid transparent;
}

QTabBar::close-button:selected, QTabBar::close-button:!selected{
    image:url(:/dark/resources/icon/dark/multiply_white.svg);
}

QTabBar::close-button:hover{
    image:url(:/dark/resources/icon/dark/multiply_red.svg);
}



/*  
=========================================
            COMBO BOX
=========================================
*/

QComboBox{
    margin:0px;
    padding: 5px 5px 5px 10px; 
    border: 1px solid var(--surface5);
    background-color: var(--surface3);
    selection-background-color: var(--primary); 
}

QComboBox:hover{
    background-color: var(--surface4);
} 

QComboBox::drop-down{
    border-left: 1px solid var(--surface5);
    width: 20px;
    margin: 2px;
}

QComboBox::drop-down:hover{
    background: var(--primary);
}

QComboBox::down-arrow {
    image:url(:/dark/resources/icon/dark/expand_arrow.svg);
    height: 14px;
    width: 14px;
    margin-right: 0px;
    padding: 0px 1px;
    
}
QComboBox::down-arrow:hover{
    image:url(:/dark/resources/icon/dark/expand_arrow_hover.svg);
}
/* QComboBox editable */
QComboBox QAbstractItemView{ 
    border: 1px solid var(--surface5);
    background-color: var(--surface3);
    selection-background-color: var(--primary); 
} 

QComboBox QAbstractItemView::item{
    min-height: 1.5em;
} 
QComboBox QAbstractItemView::item:selected {
    background: var(--primary);
}

/*  
=========================================
            LIST WIDGET
=========================================
*/
QListWidget{
    border: 1px solid var(--surface5);
}

/* Item dasar */
QListWidget::item {
    min-width: 24px;
    background: var(--surface3);
    color: var(--primary-foreground);
    padding: 2px;
    margin: 0px; 
    border-radius: 0px;
}

QListWidget::item:hover {
    background: var(--primary);
} 

QListWidget::item:selected{
    background: var(--primary);
    font-size:14px;
}



/*  
=========================================
            LINE EDIT
=========================================
*/

QLineEdit{
    border: 1px solid var(--surface5);
    padding-left: 4px;
    background: var(--surface3);
    height: 28px;
}

QLineEdit:hover{
    background: var(--surface4);
}


QLineEdit:focus{
    background-color: var(--surface4);
    color: var(--primary-foreground);
}


/*  
=========================================
            QHEADERVIEW
=========================================
*/
/* BAGIAN HEADER */
QHeaderView {
  background-color: var(--surface3);
  min-height: 2em;
  border-radius: 0;
  font-weight: bold;
  font-family: 'Aptos Narrow';
  font-size: 11pt;
  padding: 0px 0px;
}
QHeaderView::vertical{
    border:none;
}
QHeaderView::section:horizontal {
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-radius: 0;
}

/* QHeaderView::section::horizontal {
  padding-top: 0px 10px;
} */

QHeaderView::section::vertical {
    background-color: var(--surface3);
    padding: 0px 10px 0px 6px;
    font-weight: normal;
    color: #969595;
    border-right:1px solid var(--surface4);
    border-top: none;
    margin:0px;
}



/* BAGIAN TABEL */

QTableView {
  background-color: var(--surface3);
  
  gridline-color: var(--surface4);
  border-radius: 0px;
  color:var(--foreground);
}

QTableView::item:selected:active, QTableView::item:selected:!active {
  background-color: var(--accent);
  color: white;
  
}

QTableCornerButton::section {
  background-color: var(--surface3);
  border-bottom: 0px solid var(--border);
  border-top: 0px solid var(--border);
  border-left: 0px solid var(--border);
}

/*

QRadioButton::indicator{
    width: 12px;
    height: 12px;
    /* border: 1px solid var(--highlight); 
    border-radius:6px;
}

QRadioButton::indicator:checked{
    background: var(--highlight);

}
QRadioButton::indicator:unchecked{
    background: var(--grey3);
    border: 0px solid var(--grey2);
}
 */


 QToolTip{
    background-color: var(--primary);
    padding: 5px;
    margin:0px;
    border: none;
 }