/* REFERENSI: 
- https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/master/qdarkstyle/dark/darkstyle.qss 
- https://doc.qt.io/qt-6/stylesheet-reference.html
*/
/*  
=========================================
            MENU BAR
=========================================
*/


QMenuBar {
    background-color: var(--surface2); 
    color: var(--foreground4);    
    padding: 1px 0px;
}
QMenuBar::item {
    background: transparent;     
    padding: 5px 10px; 
}
QMenuBar::item:selected {       
    background: var(--accent);
    color: var(--foreground1);
    border-radius: 5px;
}
QMenuBar::item:pressed {    
    background: var(--primary);
}
QMenuBar QMenu::item{
    background: var(--primary);
}
QMenuBar QMenu::item:disabled{
    color:var(--surface10);
    background: var(--surface3);
}

/*
=========================================
            FRAME FILTER
=========================================
*/
 #header{
    margin: 5px;
    border: none;
    background: var(--surface2);
}
#centralwidget{
    background-color: var(--surface2);
}

#cbo_tapel, 
#cbo_order_by, 
#cbo_kolom,
#cbo_search_by{
    background: transparent;
    border: none;
    padding-right: 5px;
}
/*  
=========================================
                TAB BAR 
=========================================
*/
QTabWidget>QWidget{
    background: var(--surface3);
} 
QTabWidget::pane {
		background-color: var(--surface3);
        border:0px solid var(--surface6);
} 
/* untuk menggeser posisi tab */
QTabWidget::tab-bar:top{
    top: 1px;
}
QTabWidget::tab-bar:bottom{
    bottom: 1px;
}
QTabWidget::tab-bar:left{
    left: 1px;
}
QTabWidget::tab-bar:right{
    right: 1px;
}
QTabBar::tab {
    border: 1px solid var(--surface6);
}
QTabBar::tab:selected {
    background: var(--surface3);
    color: var(--foreground1);
    border-top: 1px solid var(--primary);
    margin-bottom: -1px;
}

QTabBar::tab:!selected {
    background: var(--surface2);
    color: var(--foreground4);
}
QTabBar::tab:!selected:hover {
    background: var(--surface3);
}
QTabBar::tab:top, QTabBar::tab:bottom{
    min-width: 10ex;
    margin-right: -1px;
    padding: 3px 10px 3px 10px;
}

QTabBar::tab:top:last, QTabBar::tab:bottom:last,
QTabBar::tab:top:only-one, QTabBar::tab:bottom:only-one {
    margin-right: 0;
}
/* tombol close pada tab */
QTabBar::close-button{
    image:url(:/dark/resources/icon/dark/multiply_white.svg);
    margin:0px;
    padding: 4px;
    border-radius: 5px;
}
QTabBar::close-button:hover{
    background: var(--surface6)
}

/*
=========================================
            COMBO BOX
=========================================
*/

QComboBox{
    margin-right:0px;
    padding: 0px 0px 0px 5px; 
    border: 1px solid var(--surface8);
    background-color: var(--surface5);
    selection-background-color: var(--primary); 
    min-height: 22px;
}

QComboBox:hover{
    border: 1px solid var(--surface10);
} 
QComboBox::item:disabled{
    background-color: var(--muted);
    color: var(--muted-foreground);
} 
QComboBox::drop-down{
    /* border-left: 1px solid var(--surface8); */
    width: 20px;
    margin: 1px;
    border:none;
}

QComboBox::drop-down:hover{
    background: var(--primary);
}

QComboBox::down-arrow {
    image:url(":/dark/resources/icon/dark/down.svg");
    height: 13px;
    width: 13px;
    margin-right: 0px;
    padding: 0px 1px;
    
}
QComboBox::down-arrow:hover{
    image:url(":/dark/resources/icon/dark/down_hover.svg");
}
/* QComboBox editable */
QComboBox QAbstractItemView{ 
    border: 1px solid var(--surface6);
    background-color: var(--surface4);
    selection-background-color: var(--primary); 
} 

QComboBox QAbstractItemView::item{
    min-height: 1.5em;
} 
QComboBox QAbstractItemView::item:selected {
    background: var(--primary);
}

/*  
=========================================
            LIST WIDGET
=========================================
*/
QListWidget{
    border: 1px solid var(--surface8);
    background: var(--surface5);
}
QListWidget:hover{
    border: 1px solid var(--surface10);
}
QListWidget:disabled{
    border: 1px solid var(--surface4);
    color: red;
}

/* Item dasar */
QListWidget::item {
    background: var(--surface5);
    color: var(--primary-foreground);
    padding: 5px 0px;
    margin: 0px; 
    border-radius: 0px;
}

QListWidget::item:hover {
    background: var(--surface8);
} 

QListWidget::item:selected{
    background: var(--primary);
}

QListWidget::item:disabled{
    color: var(--muted-foreground)
}

/*  
=========================================
            LINE EDIT
=========================================
*/
QLineEdit, QPlainTextEdit{
    border: 1px solid var(--surface8);
    padding-left: 5px;
    background: var(--surface4);
    /* min-height: 22px; */
}
QLineEdit:hover, QPlainTextEdit:hover{
    border: 1px solid var(--surface10);
}
QLineEdit:focus, QPlainTextEdit:focus{
    background: var(--surface6);
    border: 1px solid var(--surface10);
    color: var(--foreground);
}

/*  
=========================================
            QRADIO BUTTON
=========================================
*/
QRadioButton{
    color: var(--foreground3);
    spacing: 10px;
}
QRadioButton::indicator {
    width: 20px;
    height: 20px;
    background: transparent;
}

QRadioButton::indicator:checked {
    image:url(":/dark/resources/icon/dark/checked.svg");
}
QRadioButton::indicator:unchecked {
    image:url(":/dark/resources/icon/dark/unchecked.svg");
    
}



/*  
=========================================
            SPIN-BOX
=========================================

*/
QSpinBox, QDoubleSpinBox{
    background-color: var(--surface5);
    border:1px solid var(--surface8);
    min-height: 22px;
}
QSpinBox:hover, QDoubleSpinBox:hover{
    border: 1px solid var(--surface10)
}

QSpinBox::up-button, QDoubleSpinBox::up-button{
    background-color: transparent;
    padding: 0px;
    margin: 1px;
    subcontrol-origin: margin;
    subcontrol-position: top right;
    width: 22px;
}
QSpinBox::up-button:hover, QDoubleSpinBox::up-button:hover{
    background-color: var(--primary);
}
QSpinBox::up-button:pressed, QDoubleSpinBox::up-button:pressed{
    background-color: var(--accent);
}

QSpinBox::down-button, QDoubleSpinBox::down-button{
    background-color: transparent;
    padding: 0px;
    margin: 1px;
    subcontrol-origin: margin;
    subcontrol-position: bottom right;
    width: 22px;
}
QSpinBox::down-button:hover, QDoubleSpinBox::down-button:hover{
    background-color: var(--primary);
}
QSpinBox::down-button:pressed, QDoubleSpinBox::down-button:pressed{
    background-color: var(--accent);
}
QSpinBox::up-arrow, QDoubleSpinBox::up-arrow{
    image: url(":/dark/resources/icon/dark/up.svg");
    width: 10px;
    height: 10px;
}
QSpinBox::up-arrow:hover, QDoubleSpinBox::up-arrow:hover{
    image: url(":/dark/resources/icon/dark/up_hover.svg");
}
QSpinBox::up-arrow:pressed, QDoubleSpinBox::up-arrow:pressed{
    image: url(":/dark/resources/icon/dark/up.svg");
}

QSpinBox::down-arrow, QDoubleSpinBox::down-arrow{
    image: url(":/dark/resources/icon/dark/down.svg");
    width: 10px;
    height: 10px;
    margin-top: 0px;
}
QSpinBox::down-arrow:hover, QDoubleSpinBox::down-arrow:hover{
    image: url(":/dark/resources/icon/dark/down_hover.svg");
}
QSpinBox::down-arrow:pressed, QDoubleSpinBox::down-arrow:pressed{
    image: url(":/dark/resources/icon/dark/down.svg");
}


/*  
=========================================
            PUSH BUTTON
=========================================
*/
QPushButton, QWidget>QPushButton{
    background-color: var(--surface6);
    color: var(--foreground);
    border: none;
    border: 1px solid var(--surface8); 
}
QPushButton:hover{
    border:none;
    background-color: var(--primary);
}
QPushButton:pressed{
    background-color: var(--accent);
}
QPushButton:disabled{
    background-color: var(--surface4);
    color: var(--muted-foreground);
}

/*  Bagian Header Tabel
=========================================
            QHEADERVIEW
=========================================
*/
QHeaderView {
  background-color: var(--surface4);
  min-height: 1em;
  font-weight: bold;
  font-family: 'Aptos Narrow';
  font-size: 11pt;
  padding: 0px 0px;
  margin: 0px;
  /* border:none; */
}
QHeaderView::section:horizontal {
  background-color: var(--primary); 
  color: var(--foreground1);
  border: none;
}
QHeaderView::section::vertical {
    background-color: var(--surface4);
    padding: 4px 10px 0px 6px;
    font-weight: normal;
    color: var(--foreground5);
    margin: 0px;
    border-top: 0px solid var(--surface7);
    border-right: 1px solid var(--surface7);
    border-bottom: 1px solid var(--surface7);
    border-left: 1px solid var(--surface7);
}

/*  
=========================================
                TABLE WIDGET
=========================================
*/

QTableView {
  background-color: var(--surface4);
  gridline-color: var(--surface7);
  color:var(--foreground3);
  selection-background-color: var(--accent);
}


QTableCornerButton::section {
    background-color: var(--primary);
    border:none;
}
QTableView QPushButton{
    border: none;
    background: transparent;
}
QTableView QPushButton:hover{
    border: none;
    background: var(--surface6);
    color: white;
}


/*
=========================================
            SCROLL BAR
=========================================
*/

QScrollBar:horizontal {
  height: 12px;
  margin: 1px 1px 1px 1px;
  background-color: var(--surface4);
  border-radius: 0px;
}

QScrollBar:vertical {
  background-color: var(--surface4);
  width: 12px;
  margin: 1px 1px 1px 1px;
  border-radius: 0px;
}

QScrollBar::handle:horizontal {
  background-color: var(--surface8);
  border-radius: 4px;
  min-width: 100px;
}

QScrollBar::handle:horizontal:hover {
  background-color: var(--primary);
  border: var(--primary);
  border-radius: 4px;
}

QScrollBar::handle:horizontal:focus {
  border: 1px solid #1A72BB;
}

QScrollBar::handle:vertical {
  background-color: var(--surface8);
  min-height: 100px;
  border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
  background-color: var(--primary);
  border-radius: 4px;

}

QScrollBar::handle:vertical:focus {
  border: 1px solid #1A72BB;
}

QScrollBar::add-line:horizontal {
  margin: 0px 0px 0px 0px;
  border-image: url(":/qss_icons/dark/rc/arrow_right_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover, QScrollBar::add-line:horizontal:on {
  border-image: url(":/qss_icons/dark/rc/arrow_right.png");
  height: 12px;
  width: 12px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
  margin: 3px 0px 3px 0px;
  border-image: url(":/qss_icons/dark/rc/arrow_down_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on {
  border-image: url(":/qss_icons/dark/rc/arrow_down.png");
  height: 12px;
  width: 12px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
  margin: 0px 3px 0px 3px;
  border-image: url(":/qss_icons/dark/rc/arrow_left_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on {
  border-image: url(":/qss_icons/dark/rc/arrow_left.png");
  height: 12px;
  width: 12px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
  margin: 3px 0px 3px 0px;
  border-image: url(":/qss_icons/dark/rc/arrow_up_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover, QScrollBar::sub-line:vertical:on {
  border-image: url(":/qss_icons/dark/rc/arrow_up.png");
  height: 12px;
  width: 12px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
  background: none;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
  background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none;
}